@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
@import "tailwindcss";
/* Add global font family */
/* Define a class for the global font family */
.font-lora {
  font-family: 'Lora';
}
h1, h2, h3, h4, h5, h6,
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  font-family: 'Lora', serif;
}
button,a{
  cursor: pointer;
}
@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
  
  @keyframes marquee-reverse {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
  }
  
  .animate-marquee {
    display: flex;
    animation: marquee 10s linear infinite;
  }
  
  .animate-marquee-reverse {
    display: flex;
    animation: marquee-reverse 10s linear infinite;
  }